* {
  margin: 0;
  padding: 0;
  
}

a {
  text-decoration: none;
}

.my_photo {
  max-width: 240px;
  max-height: 240px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 25px;
}

/* MAIN PAGE STYLES */

body {
  background-color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  overflow-x:hidden;
}

header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  width: 100%;
}

.header_content {
  margin: 0 auto;
  background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
}


.header_intro-text {
  color: #304153;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header_intro-text p {
  margin-top: 15px;
  line-height: 40px;
  width: 60%;
}



/* Navigation styles */

nav ul {
  list-style: none;
  font-family: 'Russo One', sans-serif;
  color: #fff;
  text-align: center;
  margin-top: 60px;
  background-color: #304153;
  
}

ul li {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 20px;
}

span {
  border-left: 1px solid #ffffff;
}

ul li ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

ul li:hover ul {
  visibility: visible;
  z-index: 10;
}

ul li ul li {
  display: block;
  color: #ffffff;
  background-color: #304153;
}

ul  li:hover {
  background-color: #1e1e1f;
}

/* Content styles */


.container {
  display: flex;
  justify-content: space-between;
  margin: 0 20%;
}


.para1, .para2 {
  position: relative;
  background-color: #304153;
  width: 150px;
  height: 40px;
  transform: skew(-20deg);
  margin: 30px auto;
}

.para2 {
  margin-left: 10px;
}

.para1 p, .para2 p {
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  position: absolute;
  top: 25%;
  left: 20%;
  color: #ffffff;
  text-align: center;
}

.para1 ~ p {
  padding: 5px;
}

.aboutme-container {
  margin: 30px 0;
  text-align: center;
  z-index: -1;
}

.aboutme-container a {
  padding: 5px;
}

.info-container {
  width: 40%;
  margin: 90px 0;
  border-top: 2px solid #2a9aca;
  border-bottom: 2px solid #2a9aca;
}

.edu-work {
  background-color: #304153;
  color: #ffffff;
}

.job-edu-block {
  margin-left: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.job-edu-block a {
  background-color: #3799db;
  padding: 15px;
  margin-top: 20px;
  display: inline-block;
}

.job-edu-block p {
  line-height: 2em;
}

hr {
  height: 2px;
  background: #3799db;
  border: none;
  width: 50%;
  float: right;
  margin-top: 50px;
  margin-right: 20px;
}

footer {
  text-align: right;
  height: 30px;
  background-color: #b9c0be;
}

footer p {
  padding-right: 30px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Russo One', sans-serif;
}

/*  TEXT STYLES  */
h1 {
  font-size: 2em;
  text-shadow: 1px 1px 1px #dee5ed, 2px 2px 2px #111;
  font-family: 'Lobster', sans-serif;
}

.main_heading+h2 {
  font-size: 2.5em;
  text-shadow: 1px 1px 1px #dee5ed, 2px 2px 2px #111;
  font-family: 'Lobster', sans-serif;
}

section h2 {
  margin: 25px 25px 25px 300px;
  display: inline-block;
  background-color: #3799db;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Russo One', sans-serif;
}

.achievements {
  font-weight: bold;
  font-size: 2em;
  padding: 25px;
  text-align: center;
  font-family: 'Russo One', sans-serif;
}

.achievements ~ p {
  text-align: center;
  line-height: 2em;
}

ol {
  padding: 20px;
}

ol li {
  line-height: 2em;
}


/* Media queries */

@media (max-width: 768px) {
  body {
    width: 100%;
  }
  .container {
    display: block;
    margin: 0 auto;
  }
  .header_content {
    display: block;
    text-align: center;
  }
  .info-container {
    width: 100%;
    margin: 0 auto;
    border-top: 2px solid #2a9aca;
    border-bottom: 2px solid #2a9aca;
  }
  
  .para2 {
    margin: 20px auto;
  }
  .job-edu-block {
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  section h2 {
    text-align: center;
    margin: 20px auto;
  }

  #menuVertical ul li{
    display: block;
  }

  #menuVertical ul li ul{
    position:absolute;
    top:0px;
    left:100%;
    /* display:none; */
    width:auto;
    z-index: 10;
}
}

@media (min-width: 769px) and (max-width: 1200px) {
  .header_content {
    display: block;
    text-align: center;
  }

  .container {
    display: block;
    margin: 0 auto;
  }
 
body {
  width: 100%;
}

  .info-container {
    width: 100%;
    margin: 0 auto;
    border-top: 2px solid #2a9aca;
    border-bottom: 2px solid #2a9aca;
  }

  .para2 {
    margin: 20px auto;
  }
  
.job-edu-block {
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

section h2 {
  text-align: center;
  margin: 20px auto;
}
}